.top-row {
  padding: 1em 0;
}

.mat-form-field {
  width: 100%;
}

.address-bar {
  height: 100px;
}

.image-container {
  width: 200px;
  height: 200px;
  background-color: #f7f7f7;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  width: 150px;
}
