<div class="page-header">
  <div class="container">
    <h1>{{ header }}</h1>
  </div>
</div>

<div class="container">
  <div class="row end-xs top-row">
    <div class="col-xs12">
      <a routerLink="/students" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Go back
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <!-- Student Details -->
      <form #studentDetailsForm="ngForm">
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="student.firstName"
                name="firstName"
                required
              />
              <mat-error>First Name cannot be empty</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="student.lastName"
                name="lastName"
                required
              />
              <mat-error>Last Name cannot be empty</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Date Of Birth</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="student.dateOfBirth"
                name="dateOfBirth"
                required
              />
              <mat-error>Date Of Birth cannot be empty</mat-error>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="student.email"
                name="email"
                required
              />
              <mat-error>Email cannot be empty</mat-error>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input
                type="number"
                matInput
                [(ngModel)]="student.mobile"
                name="mobile"
                required
              />
              <mat-error>Mobile Number cannot be empty</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select [(ngModel)]="student.genderId" name="gender">
                <mat-option
                  *ngFor="let gender of genderList"
                  [value]="gender.id"
                >
                  {{ gender.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Physical Address</mat-label>
              <textarea
                class="address-bar"
                matInput
                [(ngModel)]="student.address.physicalAddress"
                name="physicalAddress"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>Postal Address</mat-label>
              <textarea
                class="address-bar"
                matInput
                [(ngModel)]="student.address.postalAddress"
                name="postalAddress"
                required
              ></textarea>
              <mat-error>Postal Address cannot be empty</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row between-xs" *ngIf="!isNewStudent">
              <button mat-raised-button color="primary" (click)="onUpdate()">
                Save
              </button>
              <button mat-raised-button color="warn" (click)="onDelete()">
                Delete
              </button>
            </div>
            <div class="row between-xs" *ngIf="isNewStudent">
              <button mat-raised-button color="primary" (click)="onAdd()">
                Add
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <div class="row center-xs">
        <div class="image-container">
          <img [src]="displayProfileImgUrl" alt="Profile Image" />
        </div>
      </div>
      <div class="row center-xs mt-1">
        <div class="col-xs-12" *ngIf="!isNewStudent">
          <input
            hidden
            type="file"
            #imageUpload
            (change)="uploadImage($event)"
          />
          <button mat-stroked-button (click)="imageUpload.click()">
            Upload Image
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
